$base-border-radius 		: 4px;

// Colours

$colour-primary 			: #005a84;
$colour-secondary 			: #00bfff;

//Fonts

$base-font-family 			: helvetica;

// Breakpoints

$bp1 						: 767px;
$bp2 						: 992px;
$bp3 						: 1200px;